.cursor-pointer{
    cursor: pointer;
}

.fixed{
    position: fixed;
}

@for $i from 1 to 10{
    .z-$i{
        z-index: $i !important
    }
}

.btn-primary{
    color: var(--color-secondary);
    background-color: var(--color-primary);
}
.btn-accent{
    color: var(--color-primary);
    background-color: var(--color-primary-accent);
}
.btn-secondary{
    color: var(--color-primary);
    background-color: var(--color-secondary);
}